<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a student to all bootcamp courses</title>
</head>
<body>
    <p>Add a new course</p>
    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/newcourse" method="post">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" name="name">
        <label for="desc">Description:</label>
        <textarea name="desc"cols="30" rows="10"></textarea>
        <input type="submit" value="Add">
    </form>
    <p>Courses</p>
    <table>
        <tr>
            <th>Course Name</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
        {% for course in courses %}
        <tr>
            <td>{{course.name}}</td>
            <td>{{course.desc}}</td>
            <td>{{course.created_at}}</td>
            <td><a href="destroy/{{course.id}}">remove</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>